.single-post {
	display: flex;
	flex-direction: column;
	width: 90%;
	margin: auto;
	font-size: calc(var(--desktop-font-size) * 0.75);
}

.single-post-poster {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	padding: 0.5%;
	font-size: larger;
	border-style: solid;
	border-width:  0 0 calc(var(--desktop-font-size) * 0.1) 0;
	border-color: var(--link);
}

.single-post-poster span {
	display: flex;
	align-items: center;
}

.single-post-poster button {
	font-size: calc(var(--desktop-font-size) * 0.6);
}

.single-post-poster[type='yes'] {
	border-color: var(--positive);
}

.single-post-poster[type='no'] {
	border-color: var(--negative);
}

.single-post-poster[type='owned'] {
	border-color: var(--link);
}

.upvote-button {
	all: unset;
	display: flex;
}

.upvote-button-icon[type='yes'] {
	color: var(--neutral);
}

.upvote-button-icon[type='no'] {
	color: var(--secondary);
}

.upvote-button-icon[type='disabled'] {
	color: var(--neutral);
}

.single-post-poster button > * {
	font-size: calc(var(--desktop-font-size) * 0.8);
	pointer-events: none;
}

.single-post-content {
	display: flex;
	margin: auto;
	padding-top: 2%;
	word-break: break-word;
}

/* Mobile & Tablet */
@media screen and (max-width: 1080px) {
	.single-post {
		font-size: calc(var(--mobile-font-size) * 0.8);
	}

	.single-post-poster button {
		font-size: calc(var(--mobile-font-size) * 0.8);
	}

	.single-post-poster button > * {
		font-size: calc(var(--mobile-font-size) * 0.8);
		pointer-events: none;
	}
}
