#home-frame {
	display: flex;
	flex-direction: column;
	width: 80%;
	height: 100%;
	margin: auto;
	padding-top: 1%;
}

.home-description {
	flex: 3;
	font-size: calc(var(--desktop-font-size) * 0.6);
	text-align: start;
}

.home-description:nth-child(3) {
	flex: 1;
	display: flex;
	flex-direction: row;
	width: 55%;
	align-items: center;
	justify-content: space-around;
	margin: auto;
	font-size: calc(var(--desktop-font-size) * 1);
	font-weight: bold;
}

#home-frame a {
	color: var(--neutral);
	font-style: oblique;
}

#home-frame a:hover {
	color: var(--link);
}

/* Mobile */
@media screen and (max-width: 700px) {
	#home-frame {
		width: 90%;
		padding: 5% 2.5%;
	}

	#home-frame h6 {
		font-size: calc(var(--mobile-font-size) * 1.5);
	}

	.home-description {
		flex: 3;
		font-size: calc(var(--mobile-font-size) * 0.85);
		text-align: start;
	}

	.home-description:nth-child(3) {
		flex-direction: column;
		justify-content: space-evenly;
		font-size: calc(var(--mobile-font-size) * 1.3);
	}
}

/* Tablet */
@media screen and (min-width: 701px) and (max-width: 1080px) {
	#home-frame {
		width: 90%;
		padding: 2.5%;
	}

	#home-frame h6 {
		font-size: calc(var(--mobile-font-size) * 1.6);
	}

	.home-description {
		flex: 3;
		font-size: calc(var(--mobile-font-size) * 1);
		text-align: start;
	}

	.home-description:nth-child(3) {
		justify-content: space-evenly;
		width: 80%;
		font-size: calc(var(--mobile-font-size) * 1.2);
	}
}