#login-frame {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
}

#login-left {
	flex: 1;
	float: left;
	height: 100%;
}

#login-logo-image {
	width: 100%;
	height: 80%;
	margin-top: 10%;
	border-right: 0.2vw;
	border-right-style: solid;
	border-color: var(--secondary);
}

#login-right {
	flex: 1;
	float: right;
	display: flex;
	flex-direction: column;
    align-items: center;
	padding: 2% 0;
	overflow: auto;
}

.login-section {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	width: 80%;
	padding: 1% 0;
}

.login-section h2 {
	color: var(--secondary);
	font-family: var(--main-font);
}

.login-nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.login-nav a{
	color: var(--secondary);
	font-size: smaller;
	text-decoration: underline;
}

.login-nav a:hover {
	color: var(--link);
}

.login-section input {
	height: 100%;
	width: 100%;
}

.login-section small {
	font-size:calc(var(--desktop-font-size) * 0.5)
}

.login-section .btn {
	font-size:calc(var(--desktop-font-size) * 0.8)
}

/* Mobile & Tablet */
@media screen and (max-width: 1080px) {
	#login-frame {
		flex-direction: column;
		align-items: center;
		font-size: calc(var(--mobile-font-size) * 1.5);
		overflow: auto;
	}

	#login-left {
		flex: 1;
		max-width: 30vh;
		max-height: 30vh;
		margin: 0 auto;
		padding-top: 5%;
	}
		
	#login-right {
		flex: 1;
		width: 100%;
		height: auto;
		padding-top: 0%;
		overflow: visible;
	}

	#login-logo-image {
		display: block;
		margin: 0 auto;
		border-right-style: none;
	}

	.login-section input {
		height: 50%;
		width: 100%;
	}

	.login-section h2 {
		font-size: calc(var(--mobile-font-size) * 3.5);
	}

	.login-section .btn {
		font-size:calc(var(--mobile-font-size) * 1.2)
	}

	.login-section small {
		font-size:calc(var(--mobile-font-size) * 0.8)
	}

	.login-nav {
		display: flex;
		flex-direction: column;
	}

	.login-nav > * {
		margin-top: 2.5%;
	}
}