#navbar-frame {
	position: relative;
	width: 100%;
	height: 90%;
	top: 10%;
}

#navbar-left {
	width: 50%;
	height: 100%;
	float: left;
	padding-left: 5%;
}

#navbar-right {
	display: flex;
	flex-direction: row;
	width: 50%;
	height: 100%;
	float: right;
}

.navbar-link {
	position: relative;
	flex: 3;
	top: 10%;
	text-align: end;
}

#navbar-logo {
	position: relative;
	display: block;
	top: 10%;
	height: 90%;
	width: 40%;
	border: 0.25vw;
	border-style: solid;
	border-bottom-style: none;
	border-radius: 1.5vw 1.5vw 0 0;
	background-color: var(--primary);
	overflow: hidden;
}

#navbar-logo-image {
	position: relative;
	left: 0;
	bottom: 0;
	height: 100%;
	overflow: hidden;
}

#navbar-logo-text {
	position: relative;
	left: 10%;
	color: var(--secondary);
	border-style: solid;
	border-color: var(--primary);
}

#navbar-logo-text > span:first-child {
	color: var(--positive);
}

#navbar-logo-text > span:nth-child(2) {
	color: var(--negative);
}

#navbar-left a:hover  span {
	color: var(--link);
}