#not-found-frame {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	height: 100%;
	font-family: var(--main-font);
	font-size: calc(var(--desktop-font-size) * 2);
}

.not-found-section {
	flex: 1;
	display: flex;
	align-items: center;
}

.not-found-section a {
	color: var(--neutral);	
}

.not-found-section a:hover {
	color: var(--link);
}

/* Mobile & Tablet */
@media screen and (max-width: 1080px) {
	#not-found-frame {
		min-height: 50vh;
		font-size: calc(var(--mobile-font-size) * 2);
	}
}