#profile-frame {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
}

.profile-left {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	height: 80%;
	position: relative;
	top: 10%;
}

#profile-right-main {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	height: 80%;
	position: relative;
	top: 10%;
}

#profile-right-edit {
	flex: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	height: 80%;
	position: relative;
	top: 10%;
}

.profile-section {
	flex: 1;
	width: 80%;
	text-align: center;
}

.profile-section input {
	width: 100%;
	font-weight: 100;
	text-align: center;
}

.profile-section {
	font-weight: bold;
}

#profile-edit {
	height: 80%;
}

#profile-logout {
	height: 80%;
}

#profile-discard {
	height: 20%;
}

#profile-update {
	height: 20%;
}

.profile-button-set {
	display: flex;
	justify-content: space-evenly;
}

.profile-left input[disabled] {
	color: var(--secondary);
}

/* Mobile & Tablet */
@media screen and (max-width: 1080px) {
	#profile-frame {
		flex-direction: column;
		font-size: calc(var(--mobile-font-size) * 1.5);
	}

	.profile-left {
		margin-top: 5%;
	}

	#profile-right-main {
		margin-top: 5%;
	}

	.profile-section {
		margin: 2vh;
	}
}