/* Import Font */
@import url(//fonts.googleapis.com/css?family=Ubuntu);
@import url(//fonts.googleapis.com/css?family=Impact);

:root {
	--primary: #1C1C1C;
	--secondary: #FFFFFF;
	--positive: #008C30;
	--negative: #C60202;
	--neutral: #ffc107;
	--link: #0085FF;
	--sub: #A0A0A0;
	--main-font: "Impact";
	--sub-font: "Ubuntu", sans-serif;
	--desktop-font-size: 3vw;
	--mobile-font-size: max(2.5vh, 3.5vw);
}

/* Boostrap Color Theme */
.text-danger {
	color: var(--negative);
}
.btn, .btn:hover {
	color: var(--secondary);
	font-weight: bold;
	border: 0.3vw solid;
}

.btn-primary {
	background-color: var(--primary);
	border-color: var(--secondary);
}

.btn-primary:hover {
	background-color: var(--link);
	border-color: var(--secondary);
}

.btn-outline-success {
	color: var(--positive);
	border-color: var(--positive);
}

.btn-outline-success:hover {
	color: var(--secondary);
	background-color: var(--positive);
}

.btn-outline-danger {
	color: var(--negative);
	border-color: var(--negative);
}

.btn-outline-danger:hover {
	color: var(--secondary);
	background-color: var(--negative);
}

.btn-outline-info {
	color: var(--link);
  	border-color: var(--link);
}

.btn-outline-info:hover {
	color: var(--secondary);
  	background-color: var(--link);
}

.btn-outline-warning {
	color: var(--neutral);
  	border-color: var(--neutral);
}

.btn-outline-warning:hover {
	color: var(--secondary);
  	background-color: var(--neutral);
}

.bg-success {
  	background-color: var(--positive);
}

.bg-danger {
  	background-color: var(--negative);
}

.bg-info {
	background-color: var(--link);
}

.text-success {
	color: var(--positive) !important;
}

.text-danger {
	color: var(--negative) !important;
}

.text-info {
	color: var(--link) !important;
}

/* Custom CSS */
html, body {
	width: 100%; 
	height: 100%; 
	margin: 0;
	padding: 0;
	background-color: var(--primary);
	font-family: var(--sub-font);
  	font-size: var(--desktop-font-size);
}

a {
	color: var(--primary);
	text-decoration: none;
}

a:hover {
  	color: var(--link);
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  	color: var(--neutral);
  	font-family: var(--sub-font);
  	font-weight: 900;
	text-align: center;
}

.title-section {
	flex: 1;
	width: 100%;
	padding: 0.5%;
}
  
.main-section {
  	flex: 5;
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 80%;
	padding: 0.5%;
}
  
.post-section {
  	flex: 3;
	padding: 0.5%;
}
  
.analysis-section {
	flex: 2;
	padding: 1%;
  	display: flex;
  	flex-direction: column;
  	justify-content: space-around;
}

/* Mobile & Tablet */
@media screen and (max-width: 1080px) {
	:root {
    	font-size: var(--mobile-font-size);
  	}

  	header {
		width: 100vw;
		height: 7.5vh;
		position: fixed;
		color: var(--primary); 
		background-color: var(--neutral);
		font-family: var(--main-font);
		z-index: 1;
		overflow: visible;
	}
	
	main {
		width: 100vw;
		position: relative;
		top: 7.5vh;
		color: var(--secondary); 
	}
	
	footer {
		margin-top: 15%;
		margin-bottom: 5%;
		padding-top: 2.5%;
		width: 90vw;
		position: relative;
		left: 5vw;
		color: var(--primary);
		border-top: 0.2vw;
		border-top-style: solid;
		border-color: var(--secondary);
	}

	.title-section {
		font-size: calc(var(--mobile-font-size) * 1.2) ;
	}
	
	.main-section {
		min-height: 60vh;
		flex-direction: column;
	}
}

/* Desktop */
@media screen and (min-width: 1080px) {
	:root {
		font-size: var(--desktop-font-size);
	}

	header {
		width: 100vw;
		height: 10vh;
		position: fixed;
		color: var(--primary); 
		background-color: var(--neutral);
		font-family: var(--main-font);
		overflow: hidden;
	}
	
	main {
		width: 100vw;
		height: 79vh;
		position: fixed;
		top: 10vh;
		color: var(--secondary); 
		overflow: scroll;
	}
	
	footer {
		width: 98vw;
		height: 10vh;
		position: fixed;
		bottom: 1vh;
		left: 1vw;
		color: var(--primary); 
		border: 0.5vw;
		border-style: solid;
		border-radius: 2vw;
		border-color: var(--neutral);
		overflow: hidden; 
	}
}


