/* Import Font */
@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(https://fonts.googleapis.com/css?family=Impact);

:root {
  --primary: #1C1C1C;
  --secondary: #FFFFFF;
  --positive: #008C30;
  --negative: #C60202;
  --neutral: #FFB800;
  --link: #0085FF;
  --main-font: "Impact";
  --sub-font: "Ubuntu", sans-serif;
  --desktop-font-size: 3vw;
}

/* Custom CSS */
html, body {
  width: 100%; 
  height: 100%; 
  margin: 0;
  padding: 0;
  font-size: var(--desktop-font-size);
  background-color: var(--primary);
	font-family: var(--sub-font);
}

#navbar {
  position: fixed;
  width: 100vw;
  height: 10vh;
  background-color: var(--neutral);
  overflow: hidden;
  color: var(--primary); 
	font-family: var(--main-font);
}

#main {
  position: fixed;
  width: 100vw;
  height: 79vh;
  top: 10vh;
  overflow: scroll;
  color: var(--secondary); 
}

#footer {
  position: fixed;
  width: 98vw;
  height: 10vh;
  bottom: 1vh;
  left: 1vw;
  overflow: hidden; 
  color: var(--primary); 
  border: 0.5vw;
  border-style: solid;
  border-radius: 2vw;
  border-color: var(--neutral);
}

a {
	color: var(--primary);
	text-decoration: none;
}

a:hover {
  color: var(--link);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--neutral);
  font-family: var(--sub-font);
  font-weight: 900;
	text-align: center;
}